/* body styling */
body {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}


/* navbar styling */
.nav {
    background-color: #FEDB39
}


/* H styling */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* horizontal rule styling */
hr {
    border: 5px solid black;
    opacity: 1;
}

.header-hr {
    border: 10px solid rgb(199, 196, 196);
    margin-bottom: 0%;

}

.images {
    margin: auto;
    width: auto;
    height: auto;
}

/* content div's global  */

.content {
    padding-bottom: 0.5%;
}


@media only screen and (max-width: 810px) {
    .content {
        padding-bottom: 24%;
    }

}

/* home page styling*/
#home-content {
    align-items: center;
    background-color: black;
    margin: auto;
    height: auto;

}

.mainHeading {
    background-color: snow;
    text-align: center;

}

.CTA {
    color: white;
    margin: auto;

}

.info-context {
    color: white;
    margin: 30px auto;
    width: 90%;
    height: auto;

}

.home-h2 {
    text-align: center;
}

/* home page carousel */
#landingCarousel {
    margin: auto;
    width: auto;
}

.carousel-content {
    margin: auto;
    width: auto;
    height: auto;
}

.Carousel {
    width: auto;
    height: auto;

}

.video-background {
    background-color: aliceblue;

}

video {
    width: 5%;
    height: 5%;


}

@media only screen and (min-width: 810px) {
    video {
        width: 5%;
        height: 5%;
        margin: auto;
        padding-left: 15%;
        padding-right: 15%;

    }
}

@media only screen and (min-width: 1081px) {
    video {
        width: 5%;
        height: 5%;
        margin: auto;
        padding-left: 35%;
        padding-right: 35%;

    }
}

/* about us styling */

#About-content {
    margin: auto;
}

.about-pargraph-one {
    background-color: black;
    color: white;
    height: auto;
    
}

.about-pargraph-two {
    background-color: bisque;
    height: auto;
    padding-bottom: 0.5%;
}


/* services styling */
#services-content {
    margin: auto;

}

.first-card {
    background-color: black;
    color: azure;
}

.second-card {
    background-color: bisque;

}

.services-context {
    margin: auto;
}



/* Contact styling */
.Form {
    margin-top: .25%;


}

#contact-content {
    margin: auto;
}

.support-card-text {
    width: 19rem;
}

#Customer-support {

    scroll-behavior: smooth;

}


#Map {
    margin: 0;
    padding: 0;
}

iframe {
    width: 600px;
    height: 450px;
    border: 0;
}

@media only screen and (max-width: 810px) {
    iframe {
        width: 365px;
        height: 300px;
        border: 0;
    }
}


/* Footer styling  */

footer {
    background-color: #FEDB39;
}

.footer-links {
    margin: auto;
}